
.panel-3col-33-stacked {
    /*  overflow: hidden;  */
}

.panel-3col-33-stacked .panel-col-top,
.panel-3col-33-stacked .panel-col-bottom,
.panel-3col-33-stacked .panel-col-middle {
    width: 100%;
    clear: both;
}

.panel-3col-33-stacked .panel-col-top .inside,
.panel-3col-33-stacked .panel-col-middle .inside {
    margin-bottom: 1em;
}

.panel-3col-33-stacked .panel-separator {
    margin: 0 0 1em 0;
}
